.search {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: stretch;
  list-style: none;
  background-color: #ddd;
  margin-top: 6.4rem;
  padding: 3.2rem 0;
  border-radius: 1rem;
}

.search ul {
  list-style: none;
}

@media (max-width: 1440px) {
  .search {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1170px) {
  .search {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 868px) {
  .search {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .search {
    grid-template-columns: 1fr;
  }
}
